In [1]:
import sys
import os

PROJECT_DIR = '/home/evgenshuben/Desktop/gitReps/YandexCup/'
sys.path.append(PROJECT_DIR)
os.chdir(PROJECT_DIR)

In [2]:
from omegaconf import DictConfig, OmegaConf
import hydra
from hydra import initialize, compose, initialize_config_dir
from hydra.utils import instantiate

import torch.nn as nn
import torch
import torch.nn.functional as F
import pandas as pd
import numpy as np
from tqdm import tqdm
import pandas as pd
from functools import reduce

# info

Тут попытаюсь обучить реранкер на датасетет из топ-200 кандидатов для трейна

(для 6 фичей возможно будет хватать )

Нужно насемплировать

In [3]:
full_train_pd = pd.read_parquet('/home/evgenshuben/Desktop/gitReps/YandexCup/outputs_val/reranker/train_dataset_pd.pq')

In [4]:
full_train_pd

,track_id,neighbors,negatives,positives
0,343223,"[343223, 314991, 254137, 200291, 101812, 12627...","[314991, 254137, 200291, 101812, 126276, 35797...","[307473, 361210, 101132, 343223]"
1,361210,"[361210, 101132, 307473, 343223, 281680, 33874...","[281680, 338741, 204228, 182103, 189128, 23351...","[59234, 101132, 307473, 343223, 361210]"
2,114472,"[114472, 247079, 109255, 216454, 192349, 13474...","[109255, 192349, 258956, 236469, 221151, 22684...","[59234, 216454, 247079, 114472, 215467, 307473..."
3,134744,"[134744, 215467, 258956, 247079, 179511, 30816...","[258956, 179511, 308169, 146032, 136942, 29370...","[59234, 216454, 247079, 114472, 215467, 101132..."
4,271362,"[271362, 315298, 144962, 332689, 180183, 19886...","[315298, 144962, 332689, 180183, 198867, 29852...",[271362]
...,...,...,...,...
299049,73797,"[73797, 208025, 71481, 247358, 361299, 198107,...","[208025, 247358, 361299, 198107, 294779, 16328...","[71481, 73797]"
299050,71855,"[71855, 189726, 361640, 218133, 277305, 203412...","[189726, 361640, 218133, 277305, 203412, 15904...","[74678, 71855]"
299051,74678,"[74678, 115338, 146468, 90655, 321988, 102338,...","[115338, 146468, 90655, 321988, 102338, 308750...","[74678, 71855]"
299052,72629,"[72629, 75917, 227784, 256769, 190442, 196198,...","[227784, 256769, 190442, 196198, 205959, 15852...","[75917, 72629]"
299053,75917,"[75917, 72629, 331174, 278665, 320124, 276512,...","[331174, 278665, 320124, 276512, 144022, 27340...","[75917, 72629]"